.container-3 {
    display: flex;
    align-items: center;
    width: 1400px;
    height: 595px;
    padding-left: 0;
    background: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box;
    background: url("../img/christoffer-engstrom-503481-unsplash.png");
    opacity: 0.65;
    background-position: bottom;
}

#tabs-text {
    width: 35%;
}

#tabs-img {
    width: 60%;
    width: 362px;
    height: 355px;
    margin-right: 0px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    padding: 10px;
}

.kopustas {
    width: 168px;
    height: 168px;
    background: url("../img/photo-kopustas.png") no-repeat padding-box;
    opacity: 1;
}

#explore {
    padding-top: 80px;
    text-align: center;
    font: normal 600 20px/24px Montserrat;
    color: #FFFFFF;
    opacity: 1;
}

.salota {
    width: 168px;
    height: 168px;
    background: url("../img/photo-salota.png") no-repeat padding-box;
    opacity: 1;
}

.laiptai {
    grid-column: 1 / span 2;
    width: 362px;
    height: 177px;
    background: url("../img/photo-laiptai.png") no-repeat padding-box;
    opacity: 1;
}


/* Tabs style */
button {
    width: 100px;
    height: 100px;
    position: relative;
    background: #a37169;
    border: none;
    margin: 10px;
    font-size: normal 600 14px/20px Montserrat;
    color: #FFFFFF;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    opacity: 1;
}

.active {
    background: #e27866;
    color: #FFFFFF;
    text-transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}

section {
    // display: none;
    margin: 30px;
    padding: 30px;
    padding-top: 0;
    // text-align: justify;
    // transform: translateY(25px);
    transition: 1s;
}

.opacity {
    opacity: 1;
}

.display {
    display: block;
}




// .tabs ????????{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: flex-end;
//     order: -1;
//     width: 25%;
// }

// .swiper-slides {
//     display: none;
// }

@media (max-width: 768px) {
    .container-3 {
        flex-direction: column;
    }

    .tabs {
        flex-direction: row;
        width: 100%;
        order: 0;
        margin-top: 30px;
    }

    // .swiper {
    //     width: 100%;
    // }

    button::after {
        position: absolute;
        top: 20px;
        left: 37%;
        content: "";
        border: none;
        border-bottom-color: black;
        opacity: 0;
        transition: 0.3s;
    }

    button:hover::after {
        top: -43px;
        left: 37%;
        opacity: 1;
    }

    .active:after {
        top: -43px;
        left: 37%;
        opacity: 1;
    }
}



