.container-2 {
    display: flex;
}

#social-media {
    width: 25%;
    color: #333333;
    padding-top: 19px;
    padding-right: 30px;
    padding-left: 151px;
    padding-bottom: 19px;
}

h3 {
    font: normal normal 600 20px/24px Montserrat;
    padding-bottom: 8px;
}

p {
   font: normal normal normal 14px/20px Montserrat;
   color: #86878B;
}

#icons {
    font-size: 30px;
    margin: auto;

}

a {
    padding: 40px;
    text-decoration: none;
    color: #E27866;
}