.container-4 {
    display: flex;
    background: #1C1C1C no-repeat padding-box;
    width: 1400px;
    height: 596px;
    opacity: 1;
}

#big-logo {
    width: 50%;
    background: transparent url("../img/cheshire-county-hygiene-services@2x.png") no-repeat padding-box;
    padding-top: 350px;
    // padding-right: 801px;
    // padding-bottom: 213px;
    // padding-left: 210px;
    width: 700px;
    height: 169px;
    background-position: center;
    background-position-x: 210px;
    opacity: 1;
}

#erat {
    width: 50%;
    padding-top: 100px;
    padding-right: 150px;
    color: #FFFFFF;
}

#h2-erat {
    padding-bottom: 40px;
}

#divider-orange {
    width: 300px;
    height: 50px;
    background: transparent url("../img/divider_orange_u7 copy 4@2x.png") no-repeat padding-box;
    padding-top: 10px;
    background-position: left;
    background-position-x: 210px;
    opacity: 1;
}

#erat p {
    font: normal 14px/20px Montserrat;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.grid-item-1 {
    width: 10%;
    width: 70px;
    height: 70px;
    background: ;
}